.whole{
    margin-top: 20%;
    margin-left: 35%;
}

.box{
    height: 200px;
    width: 700px;
    border: 2px solid black;
    border-radius: 10px;
}

#text{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whole button{
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
    border: transparent;
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}